{% extends 'base.html' %}

<head>
    {% block title %}
        Encryption Project
    {% endblock %}
</head>

{% block content %}
    <html> 
        <h1>{{ user.username }}'s Profile</h1>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <body> 
            {% if filename %}  
                <p> File Name: {{ filename }} </p> 
            {% endif %}
        </body> 
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <ul> {{ message }} </ul>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        <br/>
        {% if key_info %}
        <h3>Key Debugging Info</h3>
        <p>Key Type: {{ key_info.type }}</p>
        <p>Key Length: {{ key_info.length }}</p>  
        <p>Key (First few characaters): {{ key_info.first_char }}</p>
        <p>Key (encrypted): {{ key_info.output }}</p>
        <p>Public Key : {{ key_info.public }}</p>
        {% endif %}
        {% if enc_user_files %}  
        <table>
            <thead>
                <tr>
                    <th> Encrypted Files</th>
                </tr>
            </thead>
            <tbody>
                {% for file in enc_user_files %}
                    <tr>
                        <td>{{ file.encrypted_filename }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>No files uploaded yet.</p>
        {% endif %}
        <br/>
        Select an existing file to Encrypt!
        <br />
        <form action="/profile/{{ user._id }}/file-send" method="POST">
            <select name="selected_enc_file" id="selected_enc_file">
                {% for file_id, encrypted_filename in enc_file_list %}
                    <option value="{{ file_id }}">{{ encrypted_filename }}</option>
                {% endfor %}
            </select>
            <select name="selected_user" id="selected_user">
                {% for user_id, username in users_list %}
                    <option value="{{ user_id }}">{{ username }}</option>
                {% endfor %}
            </select>
            <button type="submit">Send</button>
        </form>
        
    </html>
{% endblock %}
 