{% extends 'base.html' %}

<head>
    {% block title %}
        Encryption Project
    {% endblock %}
</head>

{% block content %}
    <html> 
        <h1>{{ user.username }}'s Profile</h1>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <body> 
            <p>File Name: {{name}}</p> 
        </body> 
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        <form action="/profile/file-upload/{{ user._id }}" method="POST" enctype="multipart/form-data" >
            <input type="file" name="file" />
            <button type="submit"> Encrypt and Upload </button>
        </form>
    </html>
{% endblock %}