{% extends 'base.html' %}

<head>
    {% block title %}
        Encryption Project
    {% endblock %}
</head>

{% block content %}
    <html> 
        <h1>{{ user.username }}'s Profile</h1>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <body> 
            {% if filename %}  
                <p> File Name: {{ filename }} </p> 
            {% endif %}
        </body> 
        <form action="/profile/image-upload/{{ user._id }}" method="POST" enctype="multipart/form-data" >
            {{ form.hidden_tag() }}
            {{ form.file }}
            {{ form.submit }}
        </form>
    </html>
{% endblock %}