{% extends 'base.html' %}

<head>
    {% block title %}
        Encryption Project
    {% endblock %}
</head>

{% block content %}
    <html> 
        <h1>{{ user.username }}'s Profile</h1>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <body> 
            <p>File Name: {{name}}</p> 
        </body> 
        <form action="/profile/image-upload/{{ user._id }}" method="POST" enctype="multipart/form-data" >
            <input type="file" name="file" />
            <button type="submit"> Encrypt and Upload </button>
        </form>
    </html>
{% endblock %}