{% extends 'base.html' %}

<head>
    {% block title %}
        Encryption Project
    {% endblock %}
</head>

{% block content %}
    <html> 
        <head> 
            <title>success</title> 
        </head> 
        <body> 
            <p>File uploaded successfully</p> 
            <p>File Name: {{name}}</p> 
        </body> 
        <form action="/profile" method="POST" enctype="multipart/form-data" >
            <input type="file" name="file" />
            <button type="submit"> Encrypt and Upload </button>
        </form>
    </html>
{% endblock %}