{% extends 'base.html' %}

<head>
    {% block title %}
        Encryption Project
    {% endblock %}
</head>

{% block content %}
    <h1>{{ user.username }}'s Profile</h1>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    {% if user %} 
        <h2>File Encryption and Upload</h2>
        <a href="/profile/file-upload/{{ user._id }}">
            <button> Upload an file </button>
        </a>
        
        <a href="/profile/image-upload/{{ user._id }}">
            <button> Upload an image </button>
        </a>
            
        
    {% else %}
        <p>Please log in to access your profile.</p>
    {% endif %}
{% endblock %}