{% extends 'base.html' %}

<head>
    {% block title %}
        Encryption Project
    {% endblock %}
</head>

{% block content %}
    <h2>User</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <h1>{{ user.username }}'s Profile</h1>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>

{% endblock %}